CLIENT_DOMAIN_URL=http://localhost:3000
PORT=8000
NODE_ENV=test
MONGODB_URI=mongodb://localhost:27017/aptitude_test_db
JWT_ACCESS_SECRET_KEY=jgdsf8kjbefkjhdf98wekrh98dyuwe98yiwuegfjdv
JWT_ACCESS_EXPIRY_TIME=24h
JWT_REFRESH_EXPIRY_TIME=24h
JWT_PASSWORD_RESET_TIME=30m
MAIL_ID=aptitest100@gmail.com
PERSONAL_EMAIL_ID=prabinsharma120@gmail.com
APP_PASSWORD=
RECOVERY_CODE=
RAZORPAY_URL=https://razorpay.me/@
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
REDIS_EXPIY_TIME=86400